node_modules
he.html
config/index.js
saved-captcha
screenshots
chrome-data-dir
chrome-data-dirs
pagesources
uploads
zalo-cookies
zalo-info
credentials
fetched-files
tmp-zalo-folder
qrpus
zalo*json
zalo*txt
list*json
list*txt
*.cer
test*.js
he.*
start.sh
tunnel.sh
*.log
public/javascripts/constants.js